<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>T3F_APP_EXECUTABLE</string>
	<key>CFBundleGetInfoString</key>
    <string>T3F_APP_DISPLAY_NAME T3F_APP_VERSION</string>
	<key>CFBundleLongVersionString</key>
    <string>T3F_APP_VERSION</string>
	<key>CFBundleName</key>
    <string>T3F_APP_DISPLAY_NAME</string>
	<key>CFBundleShortVersionString</key>
    <string>T3F_APP_VERSION</string>
	<key>CFBundleIdentifier</key>
    <string>T3F_APP_PACKAGE</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
	      <key>CFBundleTypeExtensions</key>
	      <array>
	        <string>mod</string>
			<string>xm</string>
			<string>it</string>
			<string>s3m</string>
			<string>669</string>
			<string>amf</string>
			<string>mtm</string>
			<string>okt</string>
			<string>psm</string>
			<string>ptm</string>
			<string>stm</string>
	      </array>
	      <key>CFBundleTypeMIMETypes</key>
	      <array>
	        <string>audio/mod</string>
	      </array>
	      <key>CFBundleTypeName</key>
	      <string>Modular Music File</string>
	      <key>CFBundleTypeRole</key>
	      <string>Viewer</string>
	    </dict>
		<dict>
	      <key>CFBundleTypeExtensions</key>
	      <array>
	        <string>ay</string>
			<string>gbs</string>
			<string>gym</string>
			<string>hes</string>
			<string>kss</string>
			<string>nsf</string>
			<string>sap</string>
			<string>spc</string>
			<string>vgm</string>
			<string>vgz</string>
			<string>rsn</string>
	      </array>
	      <key>CFBundleTypeMIMETypes</key>
	      <array>
	        <string>audio/vgm</string>
	      </array>
	      <key>CFBundleTypeName</key>
	      <string>Video Game Music File</string>
	      <key>CFBundleTypeRole</key>
	      <string>Viewer</string>
	    </dict>
		<dict>
	      <key>CFBundleTypeExtensions</key>
	      <array>
	        <string>mid</string>
	      </array>
	      <key>CFBundleTypeMIMETypes</key>
	      <array>
	        <string>audio/midi</string>
	      </array>
	      <key>CFBundleTypeName</key>
	      <string>MIDI Music File</string>
	      <key>CFBundleTypeRole</key>
	      <string>Viewer</string>
	    </dict>
		<dict>
	      <key>CFBundleTypeExtensions</key>
	      <array>
	        <string>wav</string>
	      </array>
	      <key>CFBundleTypeMIMETypes</key>
	      <array>
	        <string>audio/x-wav</string>
	      </array>
	      <key>CFBundleTypeName</key>
	      <string>WAVE Audio File</string>
	      <key>CFBundleTypeRole</key>
	      <string>Viewer</string>
	    </dict>
	    <dict>
	      <key>CFBundleTypeExtensions</key>
	      <array>
	        <string>aac</string>
	      </array>
	      <key>CFBundleTypeName</key>
	      <string>AAC file</string>
	      <key>CFBundleTypeRole</key>
	      <string>Viewer</string>
	    </dict>
	    <dict>
	      <key>CFBundleTypeExtensions</key>
	      <array>
	        <string>ogg</string>
	      </array>
	      <key>CFBundleTypeMIMETypes</key>
	      <array>
	        <string>audio/ogg</string>
	      </array>
	      <key>CFBundleTypeName</key>
	      <string>Ogg Vorbis File</string>
	      <key>CFBundleTypeRole</key>
	      <string>Viewer</string>
	    </dict>
	    <dict>
	      <key>CFBundleTypeExtensions</key>
	      <array>
	        <string>mpg</string>
			<string>mp2</string>
			<string>mp3</string>
	      </array>
	      <key>CFBundleTypeMIMETypes</key>
	      <array>
	        <string>audio/mpeg</string>
	      </array>
	      <key>CFBundleTypeName</key>
	      <string>MPEG Audio</string>
	      <key>CFBundleTypeRole</key>
	      <string>Viewer</string>
	    </dict>
	    <dict>
	      <key>CFBundleTypeExtensions</key>
	      <array>
	        <string>m4a</string>
	      </array>
	      <key>CFBundleTypeName</key>
	      <string>MPEG-4 Audio File</string>
	      <key>CFBundleTypeRole</key>
	      <string>Viewer</string>
	    </dict>
	    <dict>
	      <key>CFBundleTypeExtensions</key>
	      <array>
	        <string>flac</string>
	      </array>
	      <key>CFBundleTypeMIMETypes</key>
	      <array>
	        <string>audio/flac</string>
	      </array>
	      <key>CFBundleTypeName</key>
	      <string>FLAC Audio File</string>
	      <key>CFBundleTypeRole</key>
	      <string>Viewer</string>
	    </dict>
		<dict>
	      <key>CFBundleTypeExtensions</key>
	      <array>
	        <string>zip</string>
			<string>rar</string>
	      </array>
	      <key>CFBundleTypeMIMETypes</key>
	      <array>
	        <string>application/octet-stream</string>
	      </array>
	      <key>CFBundleTypeName</key>
	      <string>Archive</string>
	      <key>CFBundleTypeRole</key>
	      <string>Viewer</string>
	    </dict>
	</array>
	<key>CFBundleIconFile</key>
	<string>T3F_APP_ICON</string>
</dict>
</plist>
